<div id="next_header">
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="menu">
                    <ul>  
                        <li><a href="{{ site_url("post-job/") }}" class="current">Post a Job</a></li>      
                        <li><a href="{{ site_url("jobs/activecontracts") }}"> My Contracts </a></li>			
                        <li><a href="#"> Work History</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
