<style>
    .wj-alert{ margin-top: 20px; }
</style>
<div class="wj-alert alert alert-danger fade in alert-dismissable" role="alert">
    <a href="#" class="close" aria-label="close" title="close">×</a>
    {{ flashdata('error') }}
</div>
