<li>
   <a href="{{ site_url('find-jobs') }}">
       <i class="fa fa-briefcase" aria-hidden="true"></i> Find Job  
   </a>
</li>
<li>
    <a href="{{ site_url('winsjob') }}">  
        <img src="/assets/img/version1/cup.png"  style="height:20px; width:10px; margin-top:0px;"/> 
        Win Jobs  
    </a>
</li> 
<li>
    <a href="{{ site_url('pay/freelancerbalance') }}">
        <i class="fa fa-cc-discover" aria-hidden="true"></i>  
        Balance 
    </a>
</li>
