<div id="next_header">
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="menu">
                    <ul>  
                        <li><a class="first-menu" href="{{ site_url('find-jobs') }}" class="current"> Find Jobs  </a></li>      
                        <li><a href="{{ app_profile_url() }}"> My Profile </a></li>			
                        <li><a href="{{ site_url('jobs/bids_list') }}"> My Bids</a></li>
                        <li><a href="{{ site_url('withdraw') }}"> Withdraw</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>