<div class="col-md-4 col-sm-4">
    <div class="col-md-12 col-sm-12 wdwarfhead wdwarfheadone">
        <a class="btn_feedback_wrapper" href="{{ base_url('contract/feedback') }}?fmJob={{ bid_id_encoded }}">
            <input type="button" class="btn btn-primary form-btn" value="{{ app_lang('text_job_give_feedback') }}" />
        </a>
    </div>
</div>
<div class="col-md-12 col-sm-12 wdwarfhead wdwarfheadone">
    <h3>{{ app_lang('text_job_waiting_for_feedback') }}</h3>
</div>