<div class="page page-ui-buttons">

	<ol class="breadcrumb breadcrumb-small">
		<li>UI Kit</li>
		<li class="active"><a href="#/ui/buttons">Buttons</a></li>
	</ol>


	<div class="page-wrap">
		
		<!-- row -->
		<div class="row">
			<!-- color style -->
			<div class="col-sm-12 col-md-4">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Colors</div>
					<div class="panel-body">
						<p class="small">Standard button colors can be created with <code>btn-*</code> classes.</p>
						<button type="button" class="btn btn-default" md-ink-ripple>Default</button>
						<button type="button" class="btn btn-primary" md-ink-ripple>Primary</button>
		                <button type="button" class="btn btn-success" md-ink-ripple>Success</button>
		                <button type="button" class="btn btn-info" md-ink-ripple>Info</button>
		                <button type="button" class="btn btn-warning" md-ink-ripple>Warning</button>
		                <button type="button" class="btn btn-danger" md-ink-ripple>Danger</button>
		                <button type="button" class="btn btn-pink" md-ink-ripple>Pink</button>
		                <button type="button" class="btn btn-purple" md-ink-ripple>Purple</button>
		                <button type="button" class="btn btn-default" disabled md-ink-ripple>Disabled</button>
					</div>
				</div>
			</div> <!-- #end color style -->

			<!-- Sizes -->
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
	            	<div class="panel-heading">Sizes</div>
	           		<div class="panel-body">
	           			<p class="small">Sizes can be useful for different resolution and you can add them with just <code>btn-xs</code>, <code>btn-sm</code> or <code>btn-lg</code> classes.</p>
	           			<button type="button" class="btn btn-default btn-xs" md-ink-ripple>Mini Button</button>
		                <button type="button" class="btn btn-default btn-sm" md-ink-ripple>Small Button</button>
		                <button type="button" class="btn btn-default" md-ink-ripple>Normal Button</button>
		                <button type="button" class="btn btn-default btn-lg" md-ink-ripple>Large Button</button>
	           		</div>
	           	</div>
			</div>	<!-- #end Sizes -->

			<!-- Icon Buttons -->
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Icons</div>
					<div class="panel-body">
						<p class="small">Create circle btns with <code>btn-icon-circle</code> class and flat btns with default class.</p>
						<button type="button" class="btn btn-twitter ion ion-social-twitter icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-facebook ion ion-social-facebook icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-gplus ion ion-social-googleplus icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-github ion ion-social-github icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-dribbble ion ion-social-dribbble icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-youtube ion ion-social-youtube icon" md-ink-ripple></button>
						<button type="button" class="btn btn-dribbble ion ion-social-dribbble icon btn-icon-circle" md-ink-ripple></button>
		                <button type="button" class="btn btn-twitter ion ion-social-twitter btn-icon-circle icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-facebook ion ion-social-facebook btn-icon-circle icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-gplus ion ion-social-googleplus btn-icon-circle icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-github ion ion-social-github btn-icon-circle icon" md-ink-ripple></button>
		                <button type="button" class="btn btn-youtube ion ion-social-youtube btn-icon-circle icon" md-ink-ripple></button>
					</div>
				</div>
			</div>
			<!-- #Icon Buttons -->

		</div> <!-- #end row -->


		<!-- row -->
		<div class="row">

			<div class="col-sm-12">
				<!-- Button Groups -->
				<div class="panel panel-default panel-hovered panel-stacked mb20">
                	<div class="panel-heading">Button Groups</div>
               		<div class="panel-body">
               			<div class="row">
            				<div class="col-sm-4">
		               			<p class="small text-warning text-uppercase text-normal">Default Group</p>
		               			<p class="small mb15">Multiple buttons wrapped inside <code>btn-group</code> class.</p>
		               			<div class="btn-group">
				                    <button type="button" class="btn btn-default ion ion-clock" md-ink-ripple></button>
				                    <button type="button" class="btn btn-default ion ion-compass" md-ink-ripple></button>
				                    <button type="button" class="btn btn-default ion ion-pinpoint" md-ink-ripple></button>
				                </div>
				                <br>
				                <div class="btn-group">
				                    <button type="button" class="btn btn-default btn-sm btn-pink ion ion-arrow-graph-up-right" md-ink-ripple></button>
				                    <button type="button" class="btn btn-default btn-sm btn-pink ion ion-arrow-graph-down-right" md-ink-ripple></button>
				                    <button type="button" class="btn btn-default btn-sm btn-pink ion ion-arrow-graph-up-left" md-ink-ripple></button>
				                </div>
		                	</div>	<!-- #end inner col -->

		                	<div class="col-sm-4">
		                		<p class="small text-warning text-uppercase text-normal">Button Toolbar</p>
		               			<p class="small mb15">Use <code>btn-toolbar</code> wrapped around multiple <code>btn-group</code> classes.</p>
		               			<div class="btn-toolbar">
				                    <div class="btn-group">
				                        <button type="button" class="btn btn-default ion ion-log-in" md-ink-ripple></button>
				                        <button type="button" class="btn btn-default ion ion-log-out" md-ink-ripple></button>
				                    </div>   
				                    <div class="btn-group">
				                        <button type="button" class="btn btn-default ion ion-arrow-shrink" md-ink-ripple></button>
				                        <button type="button" class="btn btn-default ion ion-arrow-expand" md-ink-ripple></button>
				                        <button type="button" class="btn btn-default ion ion-arrow-move" md-ink-ripple></button>
				                    </div>     
				                     <div class="btn-group">
				                        <button type="button" class="btn btn-default ion ion-paperclip" md-ink-ripple></button>
				                    </div>    
				                </div>
		                	</div> <!-- #end inner col -->

		                	<div class="col-sm-4">
		                		<p class="small text-warning text-uppercase text-normal">Vertical Group</p>
		               			<p class="small mb15">Use <code>btn-group-vertical</code> to arrange buttons vertically.</p>
		               			<div class="btn-group-vertical">
			               			<button type="button" class="btn btn-default ion ion-gear-a" md-ink-ripple></button>
				                    <div class="btn-group dropdown" dropdown>
				                        <button class="btn btn-pink dropdown-toggle ion ion-help-buoy" dropdown-toggle md-ink-ripple>&nbsp;<span class="caret"></span></button>
				                        <ul class="dropdown-menu">
				                            <li><a href="j:;">Action</a></li>
				                            <li><a href="j:;">Another action</a></li>
				                            <li><a href="j:;">Something else here</a></li>
				                            <li class="divider"></li>
				                            <li><a href="j:;">Separated link</a></li>
				                        </ul>
				                    </div>
				                    <button type="button" class="btn btn-default ion ion-trash-a" md-ink-ripple></button>
				                </div> <!-- #end btn-group-vertical -->
		                	</div> <!-- #end inner col -->
						</div>
					</div> <!-- #end panel-body -->
				</div> <!-- #end panel -->
			</div> <!-- #end col -->

		</div> <!-- #end row -->



		<!-- row -->
		<div class="row">
			
			<!-- button variations -->
			<div class="col-md-7 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Variations</div>
					<div class="panel-body">
						<button type="button" class="btn btn-line-primary" md-ink-ripple>Lined Primary</button>
						<button type="button" class="btn btn-pink btn-rounded" md-ink-ripple>Round</button>
						<button type="button" class="btn btn-line-success btn-rounded" md-ink-ripple>Lined Round</button>
						<button type="button" class="btn btn-line-info btn-icon-inline" md-ink-ripple><i class="ion ion-wrench"></i>Settings</button>
						<button type="button" class="btn btn-danger btn-icon-inline" md-ink-ripple><i class="ion ion-medkit"></i>Health</button>
						<button type="button" class="btn btn-purple btn-w140" md-ink-ripple>Fixed Width</button>

						<button type="button" class="btn btn-default btn-twitter btn-rounded" md-ink-ripple><i class="ion ion-social-twitter"></i>Twitter</button>
		                <button type="button" class="btn btn-default btn-facebook btn-rounded" md-ink-ripple><i class="ion ion-social-facebook"></i>Facebook</button>
		                <button type="button" class="btn btn-default btn-gplus" md-ink-ripple><i class="ion ion-social-googleplus"></i>Google</button>
		                <button type="button" class="btn btn-default btn-dribbble" md-ink-ripple><i class="ion ion-social-dribbble"></i>Dribbble</button>
		                <button type="button" class="btn btn-default btn-flickr" md-ink-ripple><i class="ion ion-social-skype"></i>Skype</button>
					</div>
				</div>
			</div> <!-- #end button variations -->

			<!-- block buttons -->
			<div class="col-md-5 col-sm-6">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Block Buttons</div>
					<div class="panel-body">
						<p class="small">Full size buttons created with <code>btn-block</code> class.</p>
						<button type="button" class="btn btn-line-default btn-lg btn-block" md-ink-ripple>Block Button Large</button>
		                <button type="button" class="btn btn-primary btn-block" md-ink-ripple>Block Button Normal</button>
					</div>
				</div>
			</div> <!-- #end block buttons -->


			

		</div>
		<!-- #end row -->


		<!-- row -->
		<div class="row">
			<!-- button variations -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Button Tags</div>
					<div class="panel-body">
						<a class="btn-tag btn-tag-primary" href="javascript:;" md-ink-ripple>CSS3</a>
						<a class="btn-tag btn-tag-success" href="javascript:;" md-ink-ripple>JavaScript</a>
						<a class="btn-tag btn-tag-danger" href="javascript:;" md-ink-ripple>PHP</a>
						<a class="btn-tag btn-tag-info" href="javascript:;" md-ink-ripple>Wordpress</a>
						<a class="btn-tag btn-tag-warning" href="javascript:;" md-ink-ripple>Photoshop</a>
						<a class="btn-tag btn-tag-pink" href="javascript:;" md-ink-ripple>Illustrator</a>
						<a class="btn-tag btn-tag-purple" href="javascript:;" md-ink-ripple>Animation</a>
						<a class="btn-tag btn-tag-default" href="javascript:;" md-ink-ripple>Books</a>
					</div>
				</div>
			</div> <!-- #end button variations -->

			<!-- toggle buttons -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Toggles</div>
					<div class="panel-body">
						<p class="small">Use <code>btn-checkbox</code> or <code>btn-radio</code> directive to create checkboxes and toggles.</p>
						<div class="btn-group mb15" ng-init="checkModel.left = true">
					        <label class="btn btn-pink btn-sm" ng-model="checkModel.left" btn-checkbox md-ink-ripple>Check One</label>
					        <label class="btn btn-pink btn-sm" ng-model="checkModel.middle" btn-checkbox md-ink-ripple>Check Two</label>
					        <label class="btn btn-pink btn-sm" ng-model="checkModel.right" btn-checkbox md-ink-ripple>Check Three</label>
					    </div>
					     <div class="btn-group" ng-init="radioModel='Middle'">
					        <label class="btn btn-default" ng-model="radioModel" btn-radio="'Left'" uncheckable md-ink-ripple>Radio One</label>
					        <label class="btn btn-default" ng-model="radioModel" btn-radio="'Middle'" uncheckable md-ink-ripple>Radio Two</label>
					        <label class="btn btn-default" ng-model="radioModel" btn-radio="'Right'" uncheckable md-ink-ripple>Radio Three</label>
					    </div>
					</div>
				</div>
			</div> <!-- #end toggle buttons -->
		</div>
		<!-- #end row -->

	</div> <!-- #end page-wrap -->
</div>