<!-- Modal Demo Content -->
<!-- modal, modal-dialog and modal-content divs are automatically wrapped by modal plugin -->

<div class="modal-style">	<!-- wrapper for specific style -->
	<div class="modal-header clearfix">
		<h4 class="modal-title">Modal Heading</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>

	<div class="modal-body">
		<p>Nam quas alienum hendrerit an, sed ei soluta albucius, sea essent inimicus ullamcorper an. Ad labitur minimum similique qui, agam mucius mea et, cu mea unum nobis.</p>
		<form class="form-horizontal" name="modal-demo-form" action="javascript:;">
			<div class="row form-group">
				<div class="col-sm-5">
					<input type="text" placeholder="Name" class="form-control">
				</div>
				<div class="col-sm-7">
					<input type="email" placeholder="Email Address" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="Address" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12 text-right">
					<button class="btn btn-success">Submit</button>
				</div>
			</div>
			
		</form>
	</div>
</div>



<!-- #end Modal Content -->