<div class="page page-ui-panels">

	<ol class="breadcrumb breadcrumb-small">
		<li>UI Kit</li>
		<li class="active"><a href="#/ui/panels">Panels</a></li>
	</ol>


	<div class="page-wrap">
		<!-- row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel mb20 panel-default">
					<div class="panel-heading">Default Panel</div>
					<div class="panel-body">
						Panel comes in various formats. You can create different panels just by dropping bootstrap <code>panel-*</code> classes.
						Additionally you can give panel hovered box shadow and stacked paper style by adding <code>panel-hovered</code> and <code>panel-stacked</code>.
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel mb20 panel-default panel-hovered panel-stacked">
					<div class="panel-heading">Stacked Panel with Hover</div>
					<div class="panel-body">
						This is a stacked panel (<code>panel-stacked</code>) with hover activated. Nunc nec at libero ut, purus auctor eget arcu sociis maecenas, morbi eu quis. Sit nam lorem auctor nunc, eu magnis, feugiat id libero velit ut magna, vestibulum vitae fermentum nec.
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel mb20 panel-lined panel-hovered">
					<div class="panel-heading">Lined Panel</div>
					<div class="panel-body">
						Lined panel (<code>panel-lined</code>) is another variation of default panel with no border in panel heading. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit.
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel mb20 panel-lined panel-stacked panel-hovered">
					<div class="panel-heading">Lined Panel with Stack</div>
					<div class="panel-body">
						Lined panel (<code>panel-lined</code>) is another variation of default panel with no border in panel heading. You can mix and match
						lined and other panels with stacked panel (<code>panel-stacked</code>) and hovered panel (<code>panel-hovered</code>).
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel mb20 panel-primary panel-hovered">
					<div class="panel-heading">Primary State Panel</div>
					<div class="panel-body">
						Primary state panel with <code>panel-primary</code> class attached. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit donec felis nec.
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel mb20 panel-pink panel-hovered">
					<div class="panel-heading">Pink State Panel</div>
					<div class="panel-body">
						Pink state panel with <code>panel-pink</code> class attached. This is just a sample to show that you can make panels
						of any color just by editing less variables. Enim expedita faucibus viverra sem.
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel mb20 panel-success panel-hovered">
					<div class="panel-heading">Success State Panel</div>
					<div class="panel-body">
						Success state panel with <code>panel-success</code> class attached. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit donec felis nec.
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel mb20 panel-warning panel-hovered">
					<div class="panel-heading">Warning State Panel</div>
					<div class="panel-body">
						Success state panel with <code>panel-warning</code> class attached. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit donec felis nec.
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-info panel-hovered">
					<div class="panel-heading">Info State Panel</div>
					<div class="panel-body">
						Info state panel with <code>panel-info</code> class attached. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit nullam urna metus.
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel panel-danger panel-hovered">
					<div class="panel-heading">Danger State Panel</div>
					<div class="panel-body">
						Danger state panel with <code>panel-danger</code> class attached. Enim expedita faucibus viverra sem, aliquam vestibulum pellentesque egestas, donec felis nec donec urna sit nullam urna metus.
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
	</div> <!-- #end page-wrap -->

</div>