<div class="page page-ui-tabs">

	<ol class="breadcrumb breadcrumb-small">
		<li>UI Kit</li>
		<li class="active"><a href="#/ui/tabs">Tabs and Accordions</a></li>
	</ol>


	<div class="page-wrap">
		
		<!-- row -->
		<div class="row">
			<h3 class="text-uppercase small text-bold mb20 ml15">Tab Styles</h3>
			<!-- style one -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Style One - Default</h4>
				</div>
				<!-- tabs style -->
				<tabset>
					<tab heading="Home">
						<div class="clearfix">
							<p>Default tab created with <code>&lt;tabset&gt;</code> with no additional class added.</p>
							<p>
								Bestiarum vero nullum iudicium puto. Tenent mordicus. Nam ista vestra: Si gravis, brevis; Quamquam tu hanc copiosiorem etiam soles dicere. Isto modo, ne si avia <strong>quidem eius</strong> nata non esset.
							</p>
							<button type="button" class="btn btn-xs btn-gplus ion ion-social-googleplus icon"></button>
			                <button type="button" class="btn btn-xs btn-github ion ion-social-github icon"></button>
			                <button type="button" class="btn btn-xs btn-dribbble ion ion-social-dribbble icon"></button>
			                <button type="button" class="btn btn-xs btn-youtube ion ion-social-youtube icon"></button>
						</div>
					</tab>
					<tab heading="About" active="about.active">
						<h5 class="mt0">Hye, I'm John Doe</h5>
						<div class="clearfix">
							<p>Cui Tubuli nomen odio non est? Eam stabilem appellas. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum.</p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="portfolio.active = true">See My Portfolio</button>
						</div>
					</tab>
					<tab heading="Portfolio" active="portfolio.active">
						<p>Philosophi autem in suis lectulis plerumque moriuntur. Non risu potius quam oratione eiciendum? Quid turpius quam sapientis vitam ex insipientium sermone pendere? O magnam vim ingenii causamque iustam, cur nova existeret disciplina! Perge porro.</p>
						<button class="btn btn-pink btn-sm" class="button" ng-click="about.active = true">Go to Tab 2</button>
					</tab>
				</tabset>
				<!-- #end tab styles -->
			</div>
			<!-- #end style one -->

			<!-- style two -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Style Two - Flip</h4>
				</div>
				<!-- tabs style -->
				<tabset class="tabs-flip">
					<tab heading="Flip One">
						<div class="clearfix">
							<p>Add <code>tabs-flip</code> class to <code>&lt;tabset&gt;</code> element to create flip tabs.</p>
							<p class="filler w100"></p>
							<p class="filler w90"></p>
							<p class="filler w80"></p>
							<p class="filler w70"></p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="fliptwo.active = true">Flip Two</button>
						</div>
					</tab>
					<tab heading="Flip Two" active="fliptwo.active">
						<address class="mb0">
							<strong>Minty, Pvt Ltd.</strong><br>
							334 - Bahadur Chowk, Near Country Club<br>
							New Delhi, ND 111001<br>
							<abbr title="Phone">Ph:</abbr> (123) 456-7890
						</address>
					</tab>
				</tabset>
				<!-- #end tab styles -->
			</div>
			<!-- #end style two -->
		</div>
		<!-- #end row -->
		

		<!-- row -->
		<div class="row">
			<!-- style three -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Style Three - Fill</h4>
				</div>
				<!-- tabs style -->
				<tabset class="tabs-fill">
					<tab heading="Fill One">
						<div class="clearfix">
							<p>Add <code>tabs-fill</code> class to <code>&lt;tabset&gt;</code> element to create fill up tabs.</p>
							<p class="filler w100"></p>
							<p class="filler w90"></p>
							<p class="filler w80"></p>
							<p class="filler w70"></p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="filltwo.active = true">Fill Two</button>
						</div>
					</tab>
					<tab heading="Fill Two" active="filltwo.active">
						<address class="mb0">
							<strong>Minty, Pvt Ltd.</strong><br>
							334 - Bahadur Chowk, Near Country Club<br>
							New Delhi, ND 111001<br>
							<abbr title="Phone">Ph:</abbr> (123) 456-7890
						</address>
					</tab>
				</tabset>
				<!-- #end tab styles -->
			</div>
			<!-- #end style three -->

			<!-- style four -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Style Four - Line Arrow</h4>
				</div>
				<!-- tabs style -->
				<tabset class="tabs-linearrow">
					<tab heading="Quote">
						<p>Add <code>tabs-linearrow</code> class to <code>&lt;tabset&gt;</code> element to create line arrow tabs.</p>
						<blockquote>
					  		<p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
					  		<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
						</blockquote>
					</tab>
					<tab heading="Ipsum dolar">
						<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
					</tab>
				</tabset>
				<!-- #end tab styles -->
			</div>
			<!-- #end style four -->
		</div>
		<!-- #end row -->
		<hr class="dashed"/>

		<!-- row -->
		<!-- tab orientations -->
		<div class="row">
			<h3 class="text-uppercase small text-bold mb20 ml15">Tab Variations</h3>
			<!-- variation one -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Vertical Tabs</h4>
				</div>
				<tabset class="tabs-vertical">
					<tab heading="Home">
						<div class="clearfix">
							<p>Add <code>tabs-vertical</code> class to <code>&lt;tabset&gt;</code> element</p>
							<p>
								Bestiarum vero nullum iudicium puto. Tenent mordicus. Nam ista vestra: Si gravis, brevis; Quamquam tu hanc copiosiorem etiam soles dicere. Isto modo, ne si avia <strong>quidem eius</strong> nata non esset.
							</p>
							<button type="button" class="btn btn-xs btn-gplus ion ion-social-googleplus icon"></button>
			                <button type="button" class="btn btn-xs btn-github ion ion-social-github icon"></button>
			                <button type="button" class="btn btn-xs btn-dribbble ion ion-social-dribbble icon"></button>
			                <button type="button" class="btn btn-xs btn-youtube ion ion-social-youtube icon"></button>
						</div>
					</tab>
					<tab heading="About" active="about.active">
						<h5 class="mt0">Hye, I'm John Doe</h5>
						<div class="clearfix">
							<p>Cui Tubuli nomen odio non est? Eam stabilem appellas. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum.</p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="portfolio.active = true">See My Portfolio</button>
						</div>
					</tab>
					<tab heading="Portfolio" active="portfolio.active">
						<p>Philosophi autem in suis lectulis plerumque moriuntur. Non risu potius quam oratione eiciendum? Quid turpius quam sapientis vitam ex insipientium sermone pendere? O magnam vim ingenii causamque iustam, cur nova existeret disciplina! Perge porro.</p>
						<button class="btn btn-pink btn-sm" class="button" ng-click="about.active = true">Go to Tab 2</button>
					</tab>
				</tabset>
			</div>
			<!-- #end variation one -->

			<!-- variation two -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Vertical Tabs - Right</h4>
				</div>
				<tabset class="tabs-vertical-right">
					<tab heading="Tab One">
						<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
						<div ng-init="y = 3">
					   	 	<rating ng-model="y" max="5" state-on="'ion ion-ios-heart'" state-off="'ion ion-ios-heart-outline'" class="text-danger"></rating>
					   	</div>
					</tab>
					<tab heading="Tab Two">
						<address class="mb0">
							<strong>Minty, Pvt Ltd.</strong><br>
							334 - Bahadur Chowk, Near Country Club<br>
							New Delhi, ND 111001<br>
							<abbr title="Phone">Ph:</abbr> (123) 456-7890
						</address>
					</tab>
				</tabset>
			</div>
			<!-- #end variation two -->
		</div>
		<!-- #end row -->


		<!-- row -->
		<!-- variation continued -->
		<div class="row">
			<!-- variation three -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Right Tabs</h4>
				</div>
				<tabset class="tabs-right">
					<tab heading="Home">
						<div class="clearfix">
							<p>Add <code>tabs-right</code> class to <code>&lt;tabset&gt;</code> element</p>
							<p>
								Bestiarum vero nullum iudicium puto. Tenent mordicus. Nam ista vestra: Si gravis, brevis; Quamquam tu hanc copiosiorem etiam soles dicere. Isto modo, ne si avia <strong>quidem eius</strong> nata non esset.
							</p>
							<button type="button" class="btn btn-xs btn-gplus ion ion-social-googleplus icon"></button>
			                <button type="button" class="btn btn-xs btn-github ion ion-social-github icon"></button>
			                <button type="button" class="btn btn-xs btn-dribbble ion ion-social-dribbble icon"></button>
			                <button type="button" class="btn btn-xs btn-youtube ion ion-social-youtube icon"></button>
						</div>
					</tab>
					<tab heading="About" active="about.active">
						<h5 class="mt0">Hye, I'm John Doe</h5>
						<div class="clearfix">
							<p>Cui Tubuli nomen odio non est? Eam stabilem appellas. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum.</p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="portfolio.active = true">See My Portfolio</button>
						</div>
					</tab>
					<tab heading="Portfolio" active="portfolio.active">
						<p>Philosophi autem in suis lectulis plerumque moriuntur. Non risu potius quam oratione eiciendum? Quid turpius quam sapientis vitam ex insipientium sermone pendere? O magnam vim ingenii causamque iustam, cur nova existeret disciplina! Perge porro.</p>
						<button class="btn btn-pink btn-sm" class="button" ng-click="about.active = true">Go to Tab 2</button>
					</tab>
				</tabset>
			</div>
			<!-- #end varaition three -->

			<!-- variation four -->
			<div class="col-md-6 mb20">
				<div class="page-tabs-lead mb20">
					<h4 class="text-light">Justified Tabs</h4>
				</div>
				<tabset justified="true">
					<tab heading="Home">
						<div class="clearfix">
							<p>Mark <code>justified</code> attribute to <code>true</code> in <code>&lt;tabset&gt;</code> element.</p>
							<p>
								Bestiarum vero nullum iudicium puto. Tenent mordicus. Nam ista vestra: Si gravis, brevis; Quamquam tu hanc copiosiorem etiam soles dicere. Isto modo, ne si avia <strong>quidem eius</strong> nata non esset.
							</p>
						</div>
					</tab>
					<tab heading="About" active="about.active">
						<h5 class="mt0">Hye, I'm John Doe</h5>
						<div class="clearfix">
							<p>Cui Tubuli nomen odio non est? Eam stabilem appellas. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum.</p>
							<button class="btn btn-pink btn-sm" class="button" ng-click="portfolio.active = true">See My Portfolio</button>
						</div>
					</tab>
					<tab heading="Portfolio" active="portfolio.active">
						<p>Philosophi autem in suis lectulis plerumque moriuntur. Non risu potius quam oratione eiciendum? Quid turpius quam sapientis vitam ex insipientium sermone pendere? O magnam vim ingenii causamque iustam, cur nova existeret disciplina! Perge porro.</p>
						<button class="btn btn-pink btn-sm" class="button" ng-click="about.active = true">Go to Tab 2</button>
					</tab>
				</tabset>
			</div>
			<!-- #end varaition four -->
		</div>

		<hr class="dashed"/>
		
		<!-- #end row -->


		<!-- row -->
		<!-- content transition -->
		<div class="row">
			<div class="col-md-6 mb20">
			<h3 class="text-uppercase small text-bold mb20">Tab Content Transition</h3>
			<!-- tabs style -->
				<tabset class="tabs-slide-content">
					<tab heading="Tab One">
						<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
						<div ng-init="y = 3">
					   	 	<rating ng-model="y" max="5" state-on="'ion ion-ios-heart'" state-off="'ion ion-ios-heart-outline'" class="text-danger"></rating>
					   	</div>
					</tab>
					<tab heading="Tab Two">
						<address class="mb0">
							<strong>Minty, Pvt Ltd.</strong><br>
							334 - Bahadur Chowk, Near Country Club<br>
							New Delhi, ND 111001<br>
							<abbr title="Phone">Ph:</abbr> (123) 456-7890
						</address>
					</tab>
				</tabset>
				<!-- #end tab styles -->
			</div>


			<h3 class="text-uppercase small text-bold mb20">Accordion</h3>
			<div class="col-sm-6">
				<!-- accordion -->
				<accordion class="accordion-panel">
					<accordion-group heading="Group Item One" is-open="true">
				    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
				    </accordion-group>

				    <accordion-group heading="Group Item Two">
				    	<p>The body of the accordion group to fit the contents</p>
				    	<button type="button" class="btn btn-xs btn-gplus ion ion-social-googleplus icon"></button>
		                <button type="button" class="btn btn-xs btn-github ion ion-social-github icon"></button>
		                <button type="button" class="btn btn-xs btn-dribbble ion ion-social-dribbble icon"></button>
		                <button type="button" class="btn btn-xs btn-youtube ion ion-social-youtube icon"></button>
				    </accordion-group>

				    <accordion-group class="panel-pink" is-open="status.open">
						<accordion-heading>
							I can have markup, too!<i class="right mt2 ion small" ng-class="{'ion-chevron-down': status.open, 'ion-chevron-right': !status.open}"></i>
						</accordion-heading>
						This is just some content to illustrate fancy headings.
					</accordion-group>
				</accordion>
				<!-- #end accordion -->
			</div>
		</div>
		<!-- #end row -->

	</div> <!-- #end page-wrap -->
</div>