<div class="page page-ui-typography">

	<ol class="breadcrumb breadcrumb-small">
		<li>UI Kit</li>
		<li class="active"><a href="#/ui/typography">Typography</a></li>
	</ol>


	<div class="page-wrap">
		<!-- row -->
		<div class="row">

			<!-- page headings -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Page Headings</div>
					<div class="panel-body">
						<h1>h1. First Header</h1>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
						<h2>h2. Second Header</h2>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
						<h3>h3. Third Header</h3>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
						<h4>h4. Fourth Header</h4>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
						<h5>h5. Fifth Header</h5>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
						<h6>h6. Sixth Header</h6>
						<p class="filler w100"></p>
						<p class="filler w90"></p>
						<p class="filler w80"></p>
					</div>
				</div>
			</div> <!-- #end page-headings -->

			<!-- subheadings and lead -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Lead Paragraph</div>
					<div class="panel-body">
						<p class="lead">I am a lead paragraph. Just add <code>.lead</code> to any paragraph element. Nuan set amil keti labitur gubergren.</p>
						<p>Ea nam error audiam, oratio nostrud pro id. Ut sea cetero labitur gubergren, munere maiorum nostrum vim ut, te feugiat vulputate cum. Choro volumus sapientem te sed, legimus splendide ad nec.</p>
					</div>
				</div>
			</div> <!-- #end sub-headings -->

			<!-- Blockquotes -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Blockquotes</div>
					<div class="panel-body">
						<blockquote>
							<p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
						</blockquote>
						<blockquote>
							<p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
							<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
						</blockquote>
						<blockquote class="blockquote-reverse">
					  		<p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
					  		<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
						</blockquote>
					</div>
				</div>
			</div> <!-- #end blockquotes -->
		</div>
		<!-- #end row -->


		<!-- row -->
		<div class="row">

			<!-- Inline Text  -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Inline Texts</div>
					<div class="panel-body">
						<p>You can use the mark tag to <mark>highlight</mark> text.</p>
						<p><del>This line of text is meant to be treated as deleted text.</del></p>
						<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
						<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
						<p><u>This line of text will render as underlined</u></p>
						<p><small>This line of text is meant to be treated as fine print.</small></p>
						<p>The following snippet of text is <strong>rendered as bold text.</strong></p>
						<p>The following snippet of text is <em>rendered as italicized text</em></p>
					</div>
				</div>
			</div> <!-- #end inline texts -->

			<!-- addresses -->
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Addresses</div>
					<div class="panel-body">
						<address>
							<strong>Minty, Pvt Ltd.</strong><br>
							334 - Bahadur Chowk, Near Country Club<br>
							New Delhi, ND 111001<br>
							<abbr title="Phone">Ph:</abbr> (123) 456-7890
						</address>

						<address>
							<strong>Full Name</strong><br>
							<p><i class="ion ion-paper-airplane w2"></i> : <a href="mailto:#">first.last@example.com</a></p>
							<p><i class="ion ion-iphone w2"></i> : +91-9494855434</p>
						</address>
					</div>
				</div>
			</div> <!-- #end addresses -->

		</div> 
		<!-- #end row -->


		<!-- row -->
		<div class="row">

			<!-- Lists -->
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Lists</div>
					<div class="panel-body">
						<ul>
							<li>Lorem ipsum dolor sit amet consector adipsi.</li>
							<li>Nulla volutpat aliquam velit kim seio lecti.
								<ul>
									<li>Item One</li>
									<li>Item Two</li>
								</ul>
							</li>
						</ul>
						<ol>
							<li>Lorem ipsum dolor sit amet aliquam velit.</li>
							<li>Consectetur adipiscing elit fringilla vel.</li>
							<li>Integer molestie lorem at massalacus nunc.</li>
						</ol>
					</div>
				</div>
			</div> <!-- #end lists -->

			<!-- Type Classes -->
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Type Classes</div>
					<div class="panel-body">
						<p class="text-primary text-capitalize">Text Primary with Capitalize</p>
						<p class="text-success text-lowercase">Text Success with Lowercase</p>
						<p class="text-info text-uppercase">Text Info with Uppercase</p>
						<p class="text-muted text-left">Text Muted with Left Alignment</p>
						<p class="text-danger text-center">Text Danger with Center Alignment</p>
						<p class="text-warning text-right">Text Warning with Right Alignment</p>
					</div>
				</div>
			</div> <!-- #end type classes -->


			<!-- Codes -->
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Codes</div>
					<div class="panel-body">
						<p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
						<p>Keyboards: <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>
						<pre>A pre formatted text.
It looks same as we type in html code.</pre>
					</div>
				</div>
			</div> <!-- #end codes -->
		</div>
		<!-- #end row -->

	</div> <!-- #end page-wrap -->
</div>