
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,500,400italic,600,500italic,700italic,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
*{
	margin:0px;
	padding:0px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:0px;
}
.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*{
	margin:0px;
	padding:0px;
}

.clear{
	clear:both;
}
.active{
  background-color:#fffa6a!important;
  color:#343434;
}
.activeTxt{
  color:#fffa6a;
}

#big_header{
	 width:100%;
	 background-image:url(../assets/homedeshilancer.png);
	 background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center top;
	text-align:center;
    height:70vh;
	
}

#big_header p.banner-title{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:38px;
	padding:40px 0 0px;
}

#big_header p.banner-details{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:20px;
        padding-bottom: 74px;
}


#sliderButton{
	width:400px;
	margin:0px auto;
}

#sliderButton button{
	background:transparent;
	border:2px solid #ffffff;
	border-radius:3px;
	color:#FFFFFF;
	font-family: 'Raleway';
	font-weight:400;
	font-size:20px;
	margin:121px 0 14px 34px;
	padding:3px 12px;
	float:left;
}
#sliderButton-2{
	width: 200px;
	margin:0px auto;
	margin-top:-70px;
}
#sliderButton-2 button{
	background:transparent;
	border:2px solid #ffffff;
	border-radius:3px;
	color:#fff;
	font-family: 'Raleway';
	font-weight:400;
	font-size:20px;
	padding:3px 12px;
}

#sliderButton button:hover{
	cursor:pointer;
	background-color:#3863A0;	
	border-color: #3863A0;
}

#sliderButton-2 button:hover{
	cursor:pointer;
	background-color:#3863A0;	
}
/****end **/
#how_work{
/*	padding-top:50px;*/
}
#simpleApproacHeaderTextone p{
   font-family: 'Calibri';
   text-decoration: none;
   font-weight: 600;
   font-size: 50px;
   padding-top:30px;
   padding-bottom:23px;
   text-align:center;
   color:#3863A0;  
}

#simpleApproacBoxone{
	width: 100%;
}
#simpleApproacBoxone article{ 
	 width:100%;
	 height:189px;
	 background-image:url(../img/divison.png);
	 background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center top;

}
#simpleApproacBoxone div  div:nth-child(1){
	font-family: 'Calibri';
	font-weight: 600;
	color:#3863A0;
	padding-top:10px;
	text-align:center;
	font-size: 20px;

}
#simpleApproacBoxone div  div:nth-child(2){
	text-align:center;
	margin:0 auto;
	color:#fff;
	border:1px solid #3863A0;
	border-radius:10px;
	font-size:35px;
	max-width:60px;
	min-height:60px;
	background:#20A7d9;
}
#simpleApproacBoxone div  div:nth-child(3){
	padding-top:20px;
	text-align:center;
	padding-bottom:80px;
	font-family: 'Calibri';
	font-weight: 400;
	font-size:16px;
}
#hr-border{
	padding-top:20px;
	border-bottom:3px solid #20a7d9;
}
.buttonone{
	float:right;

}
#butcancel i{
	color:#93123e;
	font-size: 22px;
}
#butcancel span{
	color:#FFDF84;
	font-size: 22px;
}
#butcancel{
	padding: 5px 95px 10px 15px;
    color: #fff;
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 22px;
    border: #20a7d9;
    background: #20a7d9;
    width: 280px;
    border-radius:0;
    height:40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#butcancel:hover{
background-color: #3863B1;
}

#butcancel:hover #hr-border{
background-color: #3863B1;
}

#simpleapproach{
position:relative;
width:100%;	
}
	
#simpleApproacHeaderText p{
	font-family: 'Calibri';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 14px;
    color: #3863A0;
}
#simpleApproacBox article{
	  margin:20px auto;
	  background-color:white;
	  border:3px solid #fff;
	  border-radius:5px;
	  cursor:pointer;
   	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#simpleApproacBox div  div:nth-child(1){
	padding-top:10px;
	padding-bottom:10px;
	background:#f2f2f2;
	border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #3863A0;;
	text-align:center;	
}
#simpleApproacBox div  div:nth-child(2){
   font-family: 'Myriad Pro';
   font-size:15.75px;
   color:#20a7d9; 
	text-align:center;
	    padding-top: 10px;
    padding-bottom: 0px;	
}

#simpleApproacBox article:hover{
   border:3px solid black;
   border-color: #3863A0;
}

#simpleApproacHeaderTexttwo p{
	  font-family: 'Calibri';
  font-weight: 600;
    font-size: 50px;
	text-align:center;
	margin-top: 29px;
    margin-bottom: 50px;
	color:#3863A0 	;
}
#simpleApproacHeaderTexttwo p span{
	font-family: 'Raleway';
  	font-weight: 600;
    font-size: 50px;
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
	color:#20a7d9;
}
#simpleApproacBoxtwo article{ 
	  min-height:280px;	
	  margin:20px auto;
	  background-color:#fff;
	  border:1px solid #3863A0;
	  cursor:pointer;
	  border-radius:4px;
}
#simpleApproacBoxtwo div div:nth-child(1){
	font-family: 'Calibri';
	font-size:20px;
	height:50px;
	border-bottom:1px solid #3863A0;
	text-align: center;padding:0px;
	margin-bottom:10px;
	padding-top:10px;
	color:#fff;
}
#simpleApproacBoxtwo div div:nth-child(2) i{
	font-size:50px;
	color:#fff;
	margin-top: 20px;
}
#simpleApproacBoxtwo div div:nth-child(2){
	position:absolute;
	height:100px;
	width:100px;
	border-radius:50%;
	border:5px solid #ffffff;
	text-align:center;
	background:#000000;
	position:relative;
	margin:0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

	#simpleApproacBoxtwo div div:nth-child(3){
		font-family: 'Calibri';
		font-weight: 400;
		font-size:17px;
		color:black;
		padding-right:25px;
		text-align: center;
		padding-left: 25px;
		padding-top:25px;
	}
#ouBlog{
width:100%;	
background-color:#457dbe;
}
#ouBlog header{
	text-align:center;
	width:100%;
	 font-family: 'Calibri';
	font-weight: 600;
	font-size:31.5px;
	padding-top:35px;
	padding-bottom:35px;
	color:#fff;
}

.category-img img{
    height:80px;
}
.category-img p{
    font-size:14px;
    font-family: calibri;
        color: #3863A0;
}
#simpleApproacBoxtwo p{
    color: #3863A0;
}

@media screen and (min-width: 1000px) {
	
	#hr-border{
		margin-left: 75px;
		margin-right: 103px;
	}
}

@media screen and (max-width: 991px) {
	.title-header{
		font-size: 30px!important;
	}
#big_header p.banner-title{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:25px;
	padding:40px 0 0px;
}

#big_header p.banner-details{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:18px;
        padding-bottom: 74px;
}

#sliderButton button{
	background:transparent;
	border:2px solid #3863A0;
	border-radius:3px;
	color:#FFFFFF;
	font-family: 'Raleway';
	font-weight:400;
	font-size:20px;
	margin:0px 0 14px 34px;
	padding:3px 12px;
	float:left;
}

}


@media screen and (max-width: 767px) {
#big_header p.banner-title{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:25px;
	padding:40px 0 0px;
}

#big_header p.banner-details{
	color:#ffffff;
	font-family: 'Raleway';
	font-weight:700;
	font-size:18px;
        padding-bottom: 74px;
}

#sliderButton button{
	background:transparent;
	border:2px solid #3863A0;
	border-radius:3px;
	color:#FFFFFF;
	font-family: 'Raleway';
	font-weight:400;
	font-size:20px;
	margin:0px 0 14px 34px;
	padding:3px 12px;
	float:left;
}

}

.section-i{
	color:#20A7D9;
}

div#web-details{
	font-family: 'Calibri';
	display:none;
	margin-top:-132px!important;
	height:130px;
	border:3px solid #3863A0;
	z-index:1111111111111;
	padding:2px;
	background-color: #ffffff;
	text-transform: uppercase;
}
div#web-details p{
	text-align: center;
	line-height: 1.5;
}

div#web:hover{
	z-index:0;
}
div#web:hover div#web-details{
	display:block;
}
div#web:hover div#web-details{
	display:block;
}
div#web:hover i{
	color:#ffffff;
}

div#web:hover .post-title{
	color:#ffffff;
}
.p-text{color:#4CAF50;}
.p-text2{color:#F44236;}
.p-backgroun{background-color: #F44236!important;}
.no-pad{padding-left:0;padding-right:0!important;}
.background-0{background-color: #2F7B15!important;}
.background-1{background-color: #0091CA!important;}
.background-2{background-color: #756DDD!important;}
.background-3{background-color: #B74700!important;}
.background-4{background-color: #02BAD6!important;}
.background-5{background-color: #F44136!important;}
.inherit{text-decoration: none;color: inherit}