#butcancel{
	padding:20px 112px 20px 15px;

}
#how_work{
	padding-top:0px;
}
.simpleApproacHeaderTextone p{
	padding-top:-50px;
}
.clear1{
	clear:both;
}

.big_footer {
    text-align:center;
}

.footer1 ul {
    list-style-type: none;
    padding-top: 7px;
}

.footer2 button {
    margin: 0px 0px 86px -3px;
}

.footer2 input {
    margin: 0px 0px 0px 107px;
}