tags-input {
  display: block;
}
tags-input .host {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}
tags-input .tags {
  border: 1px solid #eeeeee;
  overflow: hidden;
  padding: 4px 5px;
  padding-top: 6px;
}
tags-input .tags .tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
tags-input .tags .tag-item {
  float: left;
  margin-right: 4px;
  font-size: 12px;
  padding: 2px 10px;
  margin-bottom: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #38b4ee;
  background: #38b4ee;
  color: #fff;
}
tags-input .tags .tag-item.selected {
  background-color: #f7f7f7;
  color: #545454;
  border-color: #f7f7f7;
}
tags-input .tags .tag-item.selected .remove-button {
  color: #545454;
}
tags-input .tags .tag-item .remove-button {
  margin-left: 4px;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
}
tags-input .tags .input {
  border-color: transparent;
  outline: none;
  font-size: 12px;
}
tags-input .tags .input:focus {
  outline: none;
  border-color: transparent;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
/*** tags autocomplete **/
tags-input .autocomplete {
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid #f7f7f7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
tags-input .autocomplete .suggestion-item {
  color: #777777;
  background: #fff;
  padding: 2px 10px;
}
tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  background: #38b4ee;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #139fe0;
}
