@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,500,400italic,600,500italic,700italic,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {color: #333;font-family: "Roboto" !important;font-size: 14px;line-height: 1.42857;}
html {color: #222;font-size: 1em;line-height: 1.4;}
#big_header{margin-top: 40px; margin-bottom: 40px; height: auto;}
.menu ul {list-style:none;margin: 0;padding:0;}.menu li {margin: 0;padding: 0px;float:left;}
.menu ul li  a {font-family:'Arial';display: block;color: #35a7d6;text-decoration:none;font-size:16px; padding: 0px 28px;margin-top:14px;border:none;	}
.menu ul li  a.first-menu {font-family:'Arial';display: block;color: #35a7d6;text-decoration:none;font-size:16px; padding: 0px 28px 0px 6px;margin-top:14px;border:none;	}
.menu  a:hover {color: #e84c3d;-webkit-transition:1s;-moz-transition:1s;-o-transition:1s;transition:1s;}
#mid_contant{width:100%;float:left;background-color: #f0f0f0;min-height: 483px;margin-top:10px;}
.white-box{background-color:white;border-radius: 4px;padding: 10px;word-wrap: wrap; padding: 20px;margin-top:20px; text-align: justify}

@media(max-width: 480px){
}
@media (min-width: 481px) and (max-width: 768px) {
	.container {width: 740px;}
}
@media (min-width: 1200px) {
	.container {width: 1000px;}
	.pad-left-right{padding-left:15px;padding-right:25px;}
}
@media (min-width: 1024px) {
	.container {width: 1000px;}
	.pad-left-right{padding-left:15px;padding-right:25px;}
}