@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,500,400italic,600,500italic,700italic,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);
@import url(https://fonts.googleapis.com/css?family=Roboto);
 body {
    color: #333;
    font-family: "Roboto" !important;
    font-size: 14px;
    line-height: 1.42857;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
*{
	margin:0px;
	padding:0px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:0px;
}
.custom_employeersignup{
border: 1px solid #ccc;
margin-top: 40px;
margin-bottom: 40px;
background: #fff;}
.custom_employeersignup .form-group .form-control{
border-radius: 4px;
font-size: 16px;
font-family: calibri;}
.custom_employeersignup .form-group{margin-left:0;}
.custom_employeersignup .main_area_div_sub_div1{padding: 15px 0px 0px 0px;}
.custom_employeersignup .main_area_div_sub_div1 h1 {font-family: 'calibri';
font-size: 31px;}
.custom_employeersignup .main_area_div_sub_div1 p {font-family: 'calibri';
font-size: 17px;}
.custom_employeersignup .main_area_div_sub_div1 h3{margin-bottom: 30px;}
.main_area_div_signin{margin-top: 40px;
margin-bottom: 40px;
border: 1px solid #ccc;}
.main_area_div_signin .sign_heading h1 {
color: #262525;
font-family: 'calibri';
font-size: 31px;
margin: 13px 4px 31px 21px;
margin-bottom: -16px;
margin-left: -25px;
}
.main_area_div_signin .form-control{margin-bottom: 25px;
border-radius: 4px;
font-size: 16px;
font-family: calibri;}
.main_area_div_signin .sing_up_text{margin-right: 29px;}
.fg_pass #next {
	width: 400px;
	margin-right: 32px;
	margin-bottom: 40px;
}
 .main_area_div_sub_div1{
	padding:70px 0px 0px 0px;
 }
 .main_area_div_sub_div1 .input{
 	margin-left:0!important;
 }
 .main_area_div_sub_div1 h1{
	color:#262525;
	font-family: 'Roboto';
	font-weight:400;
	font-size:25px;
	margin:4px 4px 4px 21px;
 } 
 .main_area_div_sub_div1 p{
	color:#262525;
	font-family:'Roboto';
	font-weight:400;
	font-size:15px;
	margin:4px 4px 30px 21px;
 }
#mid_contant{
	width:100%;
	float:left;
	background-color: #f0f0f0;
        margin-top:10px;
            min-height: 483px;
}

.main_area_div_sub_div1 btn{
	border:1px solid #373737;
	border-radius:5px;
	background-color:#68cb3c;
	padding:9px 20px;
	font-family:'Roboto';
	font-weight:600;
	font-size:14px;
	color:#ffffff;
	margin:0px 20px 30px 20px;
 }
 
  .main_area_div_sub_div1 h2{
	color:#010101;
	font-family: 'Roboto';
	font-weight:400;
	font-size:16px;
	margin:30px 0px 5px 10px;
 }  
 .main_area_div_sub_div1 h3{
	color:#29aada;
	font-family:'Roboto';
	font-weight:400;
	font-size:16px;
	margin:0px 0px 70px 10px;
 } 
 .main_area_div_sub_div1 h3 span{
	color:#010101;
 } 

 .main_area_div_sub_div1 input.form-control{
 	margin-left:0!important;
 }
 div#captchaContainer{
 	padding-left: 0;
 }
 .get-started{
 	padding: 11px 100px;
 	margin-top: 15px;
 }
  .container {
     margin-right: auto;
      margin-left: auto;
  
   }
       @media (min-width: 992px) {
     .container {
        width: 960px;
      }

    }

	ul > li {
	    margin: 0;
	    padding: 0;
	    display: block;
	    list-style-position: outside;
	}
	#next {
	font-size: 20px;
	padding: 10px 20px 10px 25px;
}

#pswd_info{
	margin-top: 10px;
	padding-left: 0px!important;
}
#pswd_info h4{
	font-size: 16px;
	margin-bottom: 10px;
}

#pswd_infob{
	margin-top: 10px;
	padding-left: 0px!important;
}
#pswd_infob h4{
	font-size: 16px;
	margin-bottom: 10px;
}