/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2017, 22:31:35
    Author     : Hermannovich <donfack.hermann@gmail.com>
*/

.message_lists{
    max-height: 230px;
    min-height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.m_list.scroll-ul > li {
  display: block;
  margin: 10px 0 36px 5px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 4px;
}

.chat-identity .img-circle {
  float: left;
  margin-right: 14px;
}

#conversion_message > input {
  background: rgb(28, 167, 219) none repeat scroll 0 0;
  float: right;
  font-size: 21px;
  height: 50px;
  margin-top: 4%;
  vertical-align: middle;
  width: 19%;
}

#conversion_message textarea {
  float: left;
  height: 100px;
  width: 76%;
}

.modal-body {
  overflow: hidden;padding-bottom: 20px !important;
}

#big_header{
    margin-top: 32px;
    margin-bottom: 40px;
    height: auto;   
}

.endedjobs .ms_hr_massage_butt,
.winjobs.fixed .ms_hr_massage_butt{
    position: absolute;
    right: 42px;
    top: 0;
}

.contract-feedback-wrapper{
    padding-left: 17px; 
    padding-bottom: 13px; 
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

.contract-feedback-wrapper.remove-border-bottom{
    border-bottom: none;
}

.contract-feedback-wrapper .title{
    margin-left: 19px;
}

.contract-feedback-wrapper .title h4{
    font-size: 17px;
    font-weight: 800;
    font-family: calibri;
    color: #565555;
}

.contract-feedback-wrapper .star-rating{
    margin-top: -5px;
}

.contract-feedback-wrapper .wdwarfheadone{
    padding-left: 15px;
}

.btn_feedback_wrapper{
    position: relative;
    left: -53px;
}

.contract-feedback-wrapper .give_feed_btn{
    margin-top: 2px;
}

.feedbackbutton .rating-badge {
    float: left;
    background: #F77D0E;
    font-size: 11px;
    font-family: "Calibri";
    border-radius: 5px;
    border-color: #F77D0E;
    padding: 7px 4px;
    border: #aeb0b1;
    border-radius: 2px !important;
    margin-right: 2px;
    margin-top: 0px;
}

.feedbackbutton .star-rating.no-feedback::before{
    margin-top: 2px
}

.clearfix{
    clear: both;
}

.no-margin{
    margin: 0 !important;
}

.user-picture{
    border-radius: 32px;
}