/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 avr. 2017, 19:02:24
    Author     : Hermannovich <donfack.hermann@gmail.com>
*/

.header-border-x.interview-freelancer{
    padding: 20px;
}

.interview-freelancer .chat-screen{
    margin-top: 40px;
}

.decline-line{
    padding-top: 0;
}

.buttonsidefoure{
    margin-top: 0 !important;
}

.buttonsidefoure ul li a i{
    padding: 0;
    width: auto; 
    height: auto;
}

#notif-interview-container{
    margin: 5px 0;
    padding: 5px;
}