/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2017, 11:15:05
    Author     : Hermannovich <donfack.hermann@gmail.com>
*/


.custom_end_job .bordered-alert{
    background: rgb(240, 240, 240) none repeat scroll 0% 0%; 
    padding: 10px 0px; 
    width: 779px;
}
