/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2017, 06:52:02
    Author     : Hermannovich <donfack.hermann@gmail.com>
*/

.offersent .ms_hr_massage_butt{
    position: absolute;
    right: 145px;
    top: 0;   
}