<div id="message_convertionModal" class="modal custom_modal">
    <div class="modal-dialog cccc_massage_box">
        <div style="padding: 30px;padding-bottom: 60px;" class="modal-content">
            <button type="button" class="close" data-dismiss="modal" onclick="hidemessagepopup();">&times;</button>
            <h4 class="modal-title">{{ app_lang('text_job_modal_message') }}</h4>
            <div class="modal-header">
                <div class="chat-screen">
                    <div class="chat-details-topbar">
                        <h3 class="user_name"></h3>
                        <h5 class="job_title"></h5>
                    </div>
                </div>
            </div>
        <div class="modal-body">
            <div class="message_lists chat-details form-group" ></div>
            <form style="position:relative;" name="message" action="" method="post" id="conversion_message">
                <textarea name="usermsg"  id="usermsg"></textarea>
                <div style="position: absolute;right: 23%;font-size: 26px;top: 35%;color:#a2a2a2;transform: rotate(90deg);" class="attach_icon">
                    <i style="cursor: pointer;" class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
                <input name="job_id" type="hidden" id="job_id"  value="" />
                <input name="bid_id" type="hidden" id="bid_id"  value=""  />
                <input name="sender_id" type="hidden" id="sender_id"  value="{{ app_user_data()['id'] }}"  />
                <input name="receiver_id" type="hidden" id="receiver_id"  value=""  />
                <input name="submitmsg" type="submit"  id="submitmsg" value="{{ app_lang('text_job_modal_btn_send') }}" />
             </form>
        </div>
    </div>
 </div>
</div>
