<div id="edit-payment" class="modal fade payment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {# header #}
        <div class="modal-header">
            <h4 class="text-center">Payment - <span></span></h4>
        </div>
        {# body #}
        <div class="modal-body" id="payment-details-modal">
            {# alert to display message  #}
            <div class="result-msg alert hide  fade in ">
                <a href="#" class="close" aria-label="close" title="close">×</a>
                <span class='content'></span>
            </div>
            <form method="post" id="hr_fullMilestone" action="{{ site_url("pay/contract") }}" class="form-inline">
                <div class="text-center input-content">
                    <label for="amount">
                        Amount <span style="margin-left: 15px;font-size: 17px;">$</span>
                    </label>
                    <input  class="form-control amount" type="text" name="amount" value="" />
                </div>
                <div class="text-center btn-container">
                    <button class="btn-primary big_mass_active transparent-btn ">
                        Pay Now
                        <i class="fa fa-circle-o-notch hide form-loader"></i>
                    </button>
                    <a class="btn-primary big_mass_active transparent-btn " class="close" data-dismiss="modal">cancel</a>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
