<div class="page page-forms-imagecrop">

	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/forms/imagecrop">Image Crop</a></li>
	</ol>




	<div class="page-wrap">
		
		<!-- row -->
		<div class="row" ng-controller="ImageCropCtrl">
			<div class="col-md-12">
				<div class="mb15">Select an image file: <input type="file" id="imageCropInput" /></div>
				<div class="clearfix">
					<div class="cropArea col-sm-5 col-xs-12 mb15">
						<img-crop image="myImage" result-image="myCroppedImage" area-type="{{areaType}}"></img-crop>
					</div>
					<div class="croppedImage mb15">
						<img ng-src="{{myCroppedImage}}" alt="">
					</div>
				</div>
				<div class="clearfix">
					<button class="btn btn-default btn-sm mr5" ng-model="areaType" btn-radio="'square'" uncheckable>Flat</button>
					<button class="btn btn-default btn-sm" ng-model="areaType" btn-radio="'circle'" uncheckable>Rounded</button>
				</div>
			</div>
		</div> <!-- #end row -->
		

	</div> <!-- #end page-wrap -->
</div>