<nav class="staff-navbar freelancer-navbar ms_navbar ">
    <ul>
        <li><a class="{% if winjobs %} active {% endif %}" href="win-jobs"><i class="fa fa-briefcase" aria-hidden="true"></i> <b>{{ app_lang('text_job_menu_win_jobs')  }}</b></a></li>
        <li><a class="{% if endedjobs %} active {% endif %}" href="ended-jobs"><i class="fa fa-undo" aria-hidden="true"></i> <b>{{ app_lang('text_job_menu_ended_jobs')  }}</b></a></li> 
    </ul>
</nav>