{% if cancel_link %}
<div class="os_cancel_butt">
    <div class="cancel_btn">
        <a href="{{ cancel_link }}" class="btn btn-primary form-btn">{{ app_lang('text_job_btn_cancel_offer') }}</a>
    </div> 
</div>
{% endif  %}