<section class="card_area custom_mpayment_card">
    <div class="card_area_div">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a class="cc_card" href="{{ site_url("pay/add-credit-card") }}">
                   <i class="fa fa-credit-card"></i>
                   <i class="fa fa-check active_icon"></i>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a class="pull-right cc_card" href="{{ site_url("pay/add-paypal-account") }}">
                    <i class="fa fa-cc-paypal "></i>
                </a>
            </div>
        </div>
        <div class="card_area_div1"> </div>
    </div>
    <div class="card_area_div2"> </div>
</section>
<div class="clear"> </div>