.row {
    margin-right:0px;
    margin-left:0px;
}
/****************/
.navbar-nav > li > a {
    padding:10px 0px 0px 0px;
    color: #ffffff;
    float: none;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff !important;
}
.container>.navbar-header {
    padding-bottom: 29px;
}
.navbar-right li button {
    margin:-10px 0px 84px 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:#e84c3d;
}
.navbar-default .navbar-toggle {
    border-color: #e84c3d;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e84c3d;
}

.navbar-toggle {
    padding: 9px 10px;
    margin-top: 37px;
    margin-right: 26px;
    margin-bottom:8px;
}

.navbar-collapse.in {
    overflow-y:hidden;
}
/*********************/
.top_header h2 {
    text-align: center;
	margin:0px 0px;
}
.top_header ul {
      margin: 10px 10px 10px 10px;
}

.top_header_button{
	width:100px;
	margin:35px auto;
}

.top_header_button button {
    float: none;
	margin:16px 0px 0px 0px;
	padding:6px 12px;
    font-size:11px;
}

.top_header ul {
    float: none;
	text-align:center;
	margin:10px 10px -34px 10px;
}

.top_header ul li {
    float: none;
	margin:20px 0px 0px 0px;
}
.top_header ul {

   margin:0px 0px 0px 0px;
}
.bottom-list ul li{
	display:block;
}
.bottom-list{
	text-align:center;
}
.bottom-list ul li a{
	padding:15px 0px 5px 0px;
}
.bottom-list{
	padding-bottom:15px;
}

/*******Start footer *******/

.main-leftsecond h3{
	padding-left:0px;
	padding-top:5px;
	padding-bottom:5px;
}

.fromtext{
	margin-bottom:30px;
}

.fromtext{
	padding-top:5px;
		margin-bottom:30px;
}

#butupdat{

}
#main-content{
	margin-bottom:40px;
}
.footer1 {
    width: 100%;
    text-align: center;
    margin: 0px 0px -45px 0px;
}

#olemail{
	font-size:11px;
}
#inputbro{
	margin-left:20px;
}

.footer1 ul {
    list-style-type: none;
    padding-top:0px;
}
.footer2 {
    width:186px;
    margin:-133px auto;
    text-align: center;
}
.footer2 input {
    padding:6px 50px 6px 8px;
}
footer h1 {
    text-align: center;
}
footer p {
    text-align: center;
}

.footer1 ul {
    list-style-type: none;
    padding:0px 0px 0px 0px;
}

.big_footer {
    margin-bottom: -96px;
}

.big_footer {
    margin-top:-29px;
}
footer {
    margin-top: 89px;
}