<div class="page page-err clearfix">

	<div class="err-container">

		<h1 class="m404 mb0">404 <a href="#/dashboard" class="ion ion-forward" title="go to dashboard"></a></h1>
		<p class="text-desc mb20">Oops, this page doesn't exist.</p>

		<div class="form-container">
			<form class="form-horizontal" action="javascript:;">
				<div class="input-group input-group-lg mb20">
					<input class="form-control" type="text" placeholder="Type Keywords">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default ion ion-search"></button>
					</div>
				</div>
			</form>
		</div>

		<p class="small text-muted text-normal">Materia, Copyright &copy; 2015</p>

	</div>
		
</div>