<div class="page page-auth">

	<div class="auth-container">
		
		<div class="form-head mb20">
			<h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold"><a href="/">Materia</a></h1>
		</div>

		<div class="form-container">
			<form class="form-horizontal" action="javascript:;">
				<p class="small text-center">Enter your email address you've registered with you. We'll send you reset link to that address.</p>
				<md-input-container>
					<label>Email Id</label>
					<input type="email" placeholder="Enter your email-address">
				</md-input-container>
				<button type="submit" class="btn btn-primary btn-block text-uppercase btn-lg">Reset</button>
			</form>
		</div>
		
	</div> <!-- #end signin-container -->
</div>