<div class="page page-invoice">

	<ol class="breadcrumb breadcrumb-small">
		<li>Pages</li>
		<li class="active"><a href="#/pages/invoice">Invoice</a></li>
	</ol>


	<div class="page-wrap">
		
		<div class="row">
			<div class="col-md-12">
				<!-- Invoice Start -->
				<div class="invoice-wrap">
					<div class="clearfix invoice-head">
						<h3 class="brand-logo text-uppercase text-bold left mt15">
							<i class="ion ion-disc"></i>
							<span class="text">Materia</span>
						</h3>
						<h3 class="text-uppercase text-muted text-bold right mt15">Invoice</h3>
					</div>
					
					<div class="clearfix invoice-subhead mb20">
						<div class="group clearfix left">
							<p class="text-bold mb5">Invoice No - 006</p>
							<p class="small">Date: 16<sup>th</sup> March 2015</p>
						</div>

						<div class="group clearfix right">
							<a href="javascript:;" class="btn btn-default"><i class="ion ion-printer"></i>Print</a>
							<a href="javascript:;" class="btn btn-default"><i class="ion ion-archive"></i>Download</a>
						</div>
					</div>

					<div class="row mb20">
						<div class="col-md-6">
							<div class="address-wrap">
								<div class="address-title">
									<p class="mb5">Sent To</p>
									<h4 class="mt0 text-bold mb0">XYZ Software Ltd.</h4>
								</div>
								<address>
									<strong>LLIC, Inc.</strong><br>
									795 Folsom Ave, Suite 600<br>
									San Francisco, CA 94107<br>
									<abbr title="Phone">Ph:</abbr> (123) 456-7890
								</address>
							</div>
							
						</div>

						<div class="col-md-6">
							<div class="address-wrap">
								<div class="address-title">
									<p class="mb5">Recieved From</p>
									<h4 class="mt0 text-bold mb0">Materia Pvt Ltd.</h4>
								</div>
								<address>
									<strong>Robert Smith</strong><br>
									CS-343, Creative Studio, 340<br>
									San Francisco, CA 13107<br>
									<abbr title="Phone">Ph:</abbr> (123) 456-7890
								</address>
							</div>
							
						</div>
					</div>

					<!-- invoice table -->
					<table class="table table-bordered invoice-table mb20">
						<thead>
							<tr>
								<th>#</th>
								<th>Product Name</th>
								<th>Quantity</th>
								<th>Unit Price</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>2400</td>
								<td>Moto G2 32GB</td>
								<td>1</td>
								<td>$449.00</td>
								<td>$449.00</td>
							</tr>
							<tr>
								<td>2401</td>
								<td>IPad Mini 32GB Wifi+Cellular</td>
								<td>2</td>
								<td>$349.00</td>
								<td>$698.00</td>
							</tr>
							<tr>
								<td>2402</td>
								<td>MacPro Retina 13"</td>
								<td>1</td>
								<td>$999.00</td>
								<td>$999.00</td>
							</tr>
						</tbody>
					</table>
					<!-- #end invoice table -->


					<div class="clearfix text-right total-sum mb20">
						<h3 class="text-uppercase text-bold">Total</h3>
						<h4 class="sum">$2146</h4>
					</div>
					
					<p class="text-center small text-info">This is a computer generated invoice. No signature required.</p>

				</div>

			</div> <!-- Invoice End -->
		</div> <!-- #end row -->

	</div> <!-- #end page-wrap -->

</div>