<div class="page page-auth clearfix">

	<div class="auth-container lock-screen">

		

		<div class="form-container">
			<div class="profile clearfix mb20">
				<img src="images/admin.jpg" alt="admin">
				<h4 class="name">Robert Smith</h4>
				<p>Administrator</p>
			</div>
			<form class="form-horizontal" action="#/dashboard">
				<md-input-container>
					<label>Password</label>
					<input type="password" placeholder="Enter your password">
				</md-input-container>
				<button class="btn btn-success btn-block">Unlock</button>
			</form>
		</div>

		

	</div>
		
</div>