<div class="page page-search">

	<ol class="breadcrumb breadcrumb-small">
		<li>Pages</li>
		<li class="active"><a href="#/pages/search">Search</a></li>
	</ol>


	<div class="page-wrap">
		
		<div class="row">
			<div class="col-md-12">

				<form class="form-horizontal" action="javascript:;">
					<div class="input-group input-group-lg mb15">
						<input class="form-control" type="text" placeholder="Type Keywords">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default ion ion-search"></button>
						</div>
					</div>
				</form>

				<!-- search results -->
				<div class="search-heading mb5 ml5">
					<h4 class="text-light h5">
					<strong>43</strong> results found : 
						<strong class="search-keyword text-danger text-normal">Keyword</strong>
					</h4>
				</div>

				
				<!-- Search results -->
				<div class="panel panel-lined mb20">
					<div class="panel-body">
						<div class="result mb20">
							<h4 class="mb0 text-info">Mauris at pellentesque volutpat</h4>
							<a href="javascript:;" class="small text-success">http://examplesite.com</a>
							<p class="mt5 summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">One</label>
								<label class="label label-primary">Two</label>
								<label class="label label-primary">Three</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Sodales nisi nec condimentum Mauris convallis</h4>
							<a href="javascript:;" class="small text-success">http://examplesite.com</a>
							<p class="mt5 summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">Admin</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Web Design App</h4>
							<a href="javascript:;" class="small text-success">http://examplesite.com</a>
							<p class="mt5 summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">Web App</label>
								<label class="label label-primary">Freelance</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Responsive Wordpress Theme</h4>
							<a href="javascript:;" class="small text-success">http://examplesite.com</a>
							<p class="mt5 summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">WP</label>
								<label class="label label-primary">WordPress</label>
							</div>
							<!-- <hr/> -->
						</div>

						<pagination total-items="50" ng-model="currentPage" class="pagination"></pagination>
					</div>
				</div> <!-- #end search-results -->
						
					
			</div>
		</div> <!-- #end row -->

	</div> <!-- #end page-wrap -->

</div>