<div class="page page-auth">

	<div class="auth-container">
		
		<div class="form-head mb20">
			<h1 class="site-logo h2 mb20 mt5 text-center text-uppercase text-bold"><a href="/">Materia</a></h1>
			<p class="small">Already have an account. <a href="#/pages/signin">Sign In Now</a></p>
		</div>

		<div class="form-container">
			<form class="form-horizontal" action="javascript:;">
				<md-input-container>
					<label>Full Name</label>
					<input type="text" placeholder="Enter your full name">
				</md-input-container>
				<md-input-container>
					<label>Email Id</label>
					<input type="email" placeholder="Enter your email-id">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" placeholder="Enter your password">
				</md-input-container>
				<md-input-container>
					<label>Retype Password</label>
					<input type="password" placeholder="Re-enter your password">
				</md-input-container>
				
				<div class="clearfix mt10">
					<div class="ui-checkbox ui-checkbox-primary">
						<label>
							<input type="checkbox"> 
							<span>I agree to the terms and conditions for use.</span>
						</label>
					</div>
				</div>
				<div class="clearfix">
					<button type="submit" class="btn btn-primary right">Sign Up</button>
				</div>	

			</form>
			
		</div>
		
	</div> <!-- #end signin-container -->
</div>